<%- include( './header' ) %>
<h3 class="page-header">仪表盘</h3>
<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">LOGO图片上传</label>
		<div class="col-sm-3">
			<input id="input-logo" type="file" class="form-control file" data-preview-file-type="text">
		</div>
	</div>
</form>
<%- include( './footer' ) %>
<!-- 图片上传组件 -->
<script src="/tools/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/tools/bootstrap-fileinput/js/locales/zh.js"></script>
<script type="text/javascript">
	var BASE_UPLOAD_URL = "/admin/image/add",
		BASE_DELETE_URL = "/admin/image/delete";
	function createFileinput(id, previewUrl, previewConfig){
		var $e = $("#" + id),
			previewImg = "<img src='" + previewUrl + "' class='file-preview-image'>";
		$e.fileinput(
			{
				language: "zh",
				showUpload: true,//是否显示上传按钮
				showCaption: false,//是否显示标题
				showRemove: false,//是否显示删除按钮
				showClose: false,//是否显示关闭按钮
				browseClass: "btn btn-info", //按钮样式
				uploadAsync: true,	//是否是异步上传
				uploadUrl: BASE_UPLOAD_URL, //上传的地址
				initialPreview: previewImg,	//设置初始预览的图片
				initialPreviewConfig: [previewConfig],
				initialPreviewShowDelete: true,	//初始预览图片是否显示删除按钮
				allowedFileTypes: ['image'],	//允许上传的文件类型
				showAjaxErrorDetails: false,	//是否详细显示错误信息
				dropZoneEnabled: true	//允许是否可拖拽图片
			}
		);
	}
	//LOGO上传设置
	createFileinput("input-logo", "/uploads/logo.png", {caption: "logo.p1ng",url: BASE_DELETE_URL,key: 100,extra: {id: 100}});
</script>
</body>
</html>
