        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery-1.12.4.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
