<%- include( './header' ) %>
<h3 class="page-header"><%=pageHeader%></h3>
<textarea id="editor_id" name="content" style="width:700px;height:300px;">
		&lt;strong&gt;HTML内容&lt;/strong&gt;
</textarea>
<%- include( './footer' ) %>
<script type="text/javascript" charset="utf-8" src="/tools/kindeditor-4.1.7/kindeditor-min.js"></script>
<script type="text/javascript" charset="utf-8" src="/tools/kindeditor-4.1.7/lang/zh_CN.js"></script>
<script type="text/javascript">
	KindEditor.ready(function(K) {
		window.editor = K.create('#editor_id',{
			items:
			[
		        'source', '|', 'undo', 'redo', '|', 'preview', 'cut', 'copy', 'paste',
		        'plainpaste',  '|', 'justifyleft', 'justifycenter', 'justifyright',
		        'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
		        'superscript', 'clearhtml', 'quickformat', 'selectall', '|',  
		        'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
		        'italic', 'lineheight', 'removeformat', '|'
			],
			

		});
	});
</script>
