<footer class="main-footer">
	<div class="w1000">
		<div class="f-fl">
            <h2 class="f-fs3 f-mb20">友情链接</h2>
            <ul class="links">
                <li><a href="#">搜狐健康</a></li><li><a href="#">寻医问药网</a></li>
                <li><a href="#">爱爱医</a></li><li><a href="#">新浪健康</a></li>
                <li><a href="#">360健康</a></li><li><a href="#">妇产科网</a></li>
                <li><a href="#">家庭医生在线</a></li><li><a href="#">放心医院网</a></li>
            </ul>
        </div>
        <div class="f-fr">
            <ul class="info f-fs2">
                <li>公司全员秉承专业、敬业、爱业的工作原 则，更好的为广大客户而服务</li>
                <li><i class="icon addr f-mr10"></i> 深圳市福田区莲花街道福26-3号</li>
                <li><i class="icon phone f-mr10"></i> 400-819-9166</li>
                <li><i class="icon email f-mr10"></i> szft.Medical care.com </li>
            </ul>
        </div>
	</div>	
</footer>
<div class="copyright-area">
	<div class="w1000">
		<div class="f-fl">
            <ul class="copyright">
                <li><span>Copyright 2016</span></li>
                <li><span>xxx医疗器械有限公司</span></li>
                <li><span>版权所有</span></li>
                <li><span>粤ICP备1200274</span></li>
            </ul>
    	</div>
	</div>
</div>