<header class="main-header">
	<div class="w1000 top-panel">
		<div class="logo f-fl">
			<a href="#">
				<img src="uploads/logo.png" alt="xx公司LOGO">
			</a>
		</div>
		<div class="sub-menu f-fr">
			<ul>
				<li><a href="#">在线留言</a></li>
				<li><a href="#">收藏本站</a></li>
			</ul>
		</div>
	</div>
	<div class="main-menu">
		<div class="w1000">
			<ul>
				<li><a href="/" class="<% if(title=="xx首页") {%> active <% } %>">首页</a></li>
				<li><a href="/profile" class="<% if(title=="公司简介") {%> active <% } %>">公司简介</a></li>
				<li><a href="/news" class="<% if(title=="新闻动态") {%> active <% } %>">新闻动态</a></li>
				<li><a href="#">服务展示</a></li>
				<li><a href="#">成功案例</a></li>
				<li><a href="#">合作共赢</a></li>
				<li><a href="/contact" class="<% if(title=="联系我们") {%> active <% } %>">联系我们</a></li>
			</ul>
		</div>
	</div>
</header>