<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="stylesheets/css/base.css"/>
    <link rel="stylesheet" href="stylesheets/css/style.css"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <!--[if lt IE 9]> 
    	<script type="text/javascript" src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif-->
</head>
<body>
	<div class="container">
		<%- include("./header") %> 
		<div class="content">
			<div class="banner">
				<img src="uploads/home-banner.jpg" alt="">
			</div>
			<div class="tel-pannel">
				<div class="w1000">
					<span class="tel">400-0807-551</span>
				</div>
			</div>
			<div class="news">
				<div class="w1000">
					<h1 class="tit-logo">新闻中心</h1>
					<div class="news-list">
						<ul>
							<li>
								<img src="uploads/news-list01.png" alt="" width="138px" height="138px">
								<div class="shortInfor">
									<h1>第74届中国国际医疗器械博览会</h1>
									<p>是两个完全不同的概念,只是名字类似。 类是class的意思,你给一个元素添加了class,就是给这个元素添加了一个类。之所以这样称呼,是因为class可以重复</p>
									<a href="#" class="btn btn4">MORE</a>
								</div>
							</li>
							<li>
								<img src="uploads/news-list01.png" alt="" width="138px" height="138px">
								<div class="shortInfor">
									<h1>第74届中国国际医疗器械博览会</h1>
									<p>是两个完全不同的概念,只是名字类似。 类是class的意思,你给一个元素添加了class,就是给这个元素添加了一个类。之所以这样称呼,是因为class可以重复</p>
									<a href="#" class="btn btn4">MORE</a>
								</div>
							</li>
							<li>
								<img src="uploads/news-list01.png" alt="" width="138px" height="138px">
								<div class="shortInfor">
									<h1>第74届中国国际医疗器械博览会</h1>
									<p>是两个完全不同的概念,只是名字类似。 类是class的意思,你给一个元素添加了class,就是给这个元素添加了一个类。之所以这样称呼,是因为class可以重复</p>
									<a href="#" class="btn btn4">MORE</a>
								</div>
							</li>
							<li>
								<img src="uploads/news-list01.png" alt="" width="138px" height="138px">
								<div class="shortInfor">
									<h1>第74届中国国际医疗器械博览会</h1>
									<p>是两个完全不同的概念,只是名字类似。 类是class的意思,你给一个元素添加了class,就是给这个元素添加了一个类。之所以这样称呼,是因为class可以重复</p>
									<a href="#" class="btn btn4">MORE</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="service">
				<div class="w1000">
					<h1 class="tit-logo">服务中心</h1>
					<div class="service-list">
						<ul>
							<li>
								<img src="uploads/service/unohacha_20161116043652.jpg" alt="" width="300px">
								<p>提供SIEMENS、GE、PHILIPS 等品牌DR设备专业维修</p>
							</li>
							<li>
								<img src="uploads/service/unohacha_20161116043939.jpg" alt="" width="300px">
								<p>提供SIEMENS、GE、PHILIPS 等品牌DR设备专业维修</p>
							</li>
							<li>
								<img src="uploads/service/unohacha_20161116043652.jpg" alt="" width="300px">
								<p>提供SIEMENS、GE、PHILIPS 等品牌DR设备专业维修</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="profile">
				<div class="w1000">
					<h1 class="tit-logo">公司简介</h1>
					<div class="profile-content">
						<div class="artile">
							<p>
xxxx有限公司致力成为全国最好的医疗设备服务提供商，公司主营业务包括医院影像、放射科室设备维保托管服务，医院整体医疗设备托管服务，专业提供西门子、飞利浦、GE、东芝、日立等大中型医疗设备的白金保、金保、技术保养、设备移机、安装调试等服务，同时提供全系列的备件和耗材。昆亚医疗提供一站式设备管理解决方案、精准的设备维护、定期的设备资产评估和建议、医疗机构专业人员的设备维护及使用培训，以及持续的管理和技术支持。
xxxx于2015年12月份新三板挂牌，股票代码（835689），是中国第一家也是唯一一家医疗设备服务行业挂牌的企业；xxx获得了六项医疗维修行业专利，并获得ISO14001环境管理体系、OHSAS18001职业健康与安全管理体系、ISO9001质量管理体系三大技术服务认证；同时，昆亚医疗也是北美放射年会、中国医学装备协会、中国医院协会、中国医疗器械行业协会会员，中华医师协会设备学分培训战略合作单位。
							</p>
						</div>
						<div class="profile-banner">
							<img src="uploads/profile-banner.jpg" alt="" width="385px" height="215px">
						</div>
					</div>
				</div>
			</div>
			<div class="case">	
				<div class="w1000">
					<h1 class="tit-logo">成功案例</h1>
					<div class="case-list">
						<ul>
							<li><img src="uploads/case/case1.png" alt="" width="124px"></li>
							<li><img src="uploads/case/case2.png" alt="" width="124px"></li>
							<li><img src="uploads/case/case3.png" alt="" width="124px"></li>
							<li><img src="uploads/case/case2.png" alt="" width="124px"></li>
							<li><img src="uploads/case/case1.png" alt="" width="124px"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<%- include("./footer") %>
	</div>
    <div class="nav-bar">
        <a class="chatUs" title="在线留言"></a>
        <a class="wxcode" title="二维码">
            <p class="rcode">
                <img src="uploads/twoba-rcode.png" width="120">
            </p>
        </a>
        <a class="goTop" title="回到顶部"></a>
    </div>
    <script src="javascripts/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="javascripts/prefixfree.min.js" type="text/javascript"></script>
    <script src="javascripts/app.js" type="text/javascript"></script>
</body>
</html>