<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>xxxxx</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="stylesheets/css/base.css"/>
    <link rel="stylesheet" href="stylesheets/css/ionicons.min.css"/>
    <link rel="stylesheet" href="stylesheets/css/style.css"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <!--[if lt IE 9]> 
    	<script type="text/javascript" src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif-->
</head>
<body>
	<div class="container">
		<%- include("./header") %> 
		<div class="content">
			<div class="banner">
				<img src="uploads/news-banner-big.jpg" alt="">
			</div>
			<div class="crumbs">
				<div class="w1000">
					<p><i class="ion-arrow-right-b"></i>&nbsp;&nbsp;您现在的位置：
					<a class="prePos" href="./index.html">首页</a>&gt;
					<a class="curPos">新闻动态</a></p>
				</div>
			</div>
			<div class="section">
				<div class="w1000">
					<div class="side">
						<div class="buttons-tab">
							<ul>
								<li><a class="active" href="#tab1">公司动态</a></li>
								<li><a href="#tab2">行业动态</a></li>
							</ul>
						</div>
					</div>
					<div class="det tabs">
						<div class="tab" id="tab1">
							<div class="news-area">
								<ul>
		                            <li>
			                            <h2><a href="#">热烈庆祝xxx医疗器械有限公司与临沂人民医院签署战略合作伙伴</a></h2>
			                            <span>2016-10-20</span>
			                            <p>是两个完全不同的概念,只是名字类似。的意思,你给一个元素添加了class,就是给这个元素,
			                            是两个完全不同的概念,只是名字类似。的意思,你给一个元素添加了class,就是给这个元素素添加了class,就是给这个元素</p>
			                            <a class="more" href="#">了解更多&gt;</a>
		                            </li>
		                            <li>
			                            <h2><a href="#">两部委联合推进国产医疗设备发展应用 6股望受益</a></h2>
			                            <span>2016-10-01</span>
			                            <p>是两个完全不同的概念,只是名字类似。的意思,你给一个元素添加了class,就是给这个元素,
			                            是两个完全不同的概念,只是名字类似。的意思,你给一个元素添加了class,就是给这个元素</p>
			                            <a class="more" href="#">了解更多&gt;</a>
			                        </li>
		                            <li>
		                            	<h2><a href="#">医疗设备产业迎政策利好 6股孕育重大机遇</a></h2>
		                            	<span>2016-09-20</span>
		                            	<p>是两个完全不同的概念,只是名字类似。的意思,你给一个元素添加了class,就是给这个元素,
			                            是两个完全不同的概念,只是名字类似。的意思,你给一个元素添加了class,就是给这个元素</p>
			                            <a class="more" href="#">了解更多&gt;</a>
		                            </li>
		                            <li>
			                            <h2><a href="#">湖南省医疗器械流通领域经营行为整治抽查 47家被依法查处</a></h2>
			                            <span>2016-08-19</span>
			                            <p>是两个完全不同的概念,只是名字类似。的意思,你给一个元素添加了class,就是给这个元素,
			                            是两个完全不同的概念,只是名字类似。的意思,你给一个元素添加了class,就是给这个元素</p>
			                            <a class="more" href="#">了解更多&gt;</a>
		                            </li>
		                            <li>
		                            	<h2><a href="#">干货 一文了解家用医疗器械市场</a></h2>
		                            	<span>2016-08-15</span>
		                            	<p>是两个完全不同的概念,只是名字类似。的意思,你给一个元素添加了class,就是给这个元素,
			                            是两个完全不同的概念,只是名字类似。的意思,你给一个元素添加了class,就是给这个元素</p>
			                            <a class="more" href="#">了解更多&gt;</a>
		                            </li>
								</ul>
							</div>
							<div class="pagination">
								<nav class="m-page m-page-sr m-page-sm">
								    <a href="#" class="pageprv z-dis">上一页</a>
								    <a href="#">1</a>
								    <a href="#" class="z-crt">2</a>
								    <a href="#">3</a>
								    <a href="#">4</a>
								    <i>...</i>
								    <a href="#">10</a>
								    <a href="#" class="pagenxt">下一页</a>
								</nav>
							</div>
						</div>
						<div class="tab" id="tab2">
							<div class="news-area">
								<ul>
		                           
		                            <li>
		                            	<h2><a href="#">医疗设备产业迎政策利好 6股孕育重大机遇</a></h2>
		                            	<span>2016-09-20</span>
		                            	<p>是两个完全不同的概念,只是名字类似。的意思,你给一个元素添加了class,就是给这个元素,
			                            是两个完全不同的概念,只是名字类似。的意思,你给一个元素添加了class,就是给这个元素</p>
			                            <a class="more" href="#">了解更多&gt;</a>
		                            </li>
		                            <li>
			                            <h2><a href="#">湖南省医疗器械流通领域经营行为整治抽查 47家被依法查处</a></h2>
			                            <span>2016-08-19</span>
			                            <p>是两个完全不同的概念,只是名字类似。的意思,你给一个元素添加了class,就是给这个元素,
			                            是两个完全不同的概念,只是名字类似。的意思,你给一个元素添加了class,就是给这个元素</p>
			                            <a class="more" href="#">了解更多&gt;</a>
		                            </li>
								</ul>
							</div>
							<div class="pagination">
								<nav class="m-page m-page-sr m-page-sm">
								    <a href="#" class="pageprv z-dis">上一页</a>
								    <a href="#">1</a>
								    <a href="#" class="z-crt">2</a>
								    <a href="#">3</a>
								    <a href="#">4</a>
								    <i>...</i>
								    <a href="#">10</a>
								    <a href="#" class="pagenxt">下一页</a>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<%- include("./footer") %>
	</div>
    <script src="javascripts/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="javascripts/prefixfree.min.js" type="text/javascript"></script>
    <script src="javascripts/app.js" type="text/javascript"></script>
    <script type="text/javascript">
    	$.Tabs();
    </script>
</body>
</html>